<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/styleEvento.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="shortcut icon" href="./img/logo.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Evento</title>
  </head>
  <body>
    <div class="tela">
      <nav>
        <div class="navbar">
          <input type="checkbox" name="" id="menu-hamburgue" />
          <label class="menuHamburgue" for="menu-hamburgue">
            <div class="menu">
              <span class="hamburgue"> </span>
            </div>
          </label>
          <div class="nav-logo">
            <a href="index.html">
              <img src="./img/Blue2.png" alt="logo da site" />
            </a>
          </div>
          <div class="nav-links">
            <div class="sidebar-itens">
              <div class="user">
                <a href="#"
                  ><i class="bx bxs-user-circle"></i><span>Login</span></a
                >
              </div>
              <!-- <div>
                    <label class="switch">
                      <input type="checkbox">
                      <span class="slider round"></span>
                    </label>
                  </div> -->
            </div>
            <ul class="links">
              <li>
                <a class="nav-a" href="index.html" rel="next">Home</a>
              </li>
              <li>
                <a href="#" rel="next">Categoria</a>
                <i class="bx bxs-chevron-down arrow htmlcss-arrow"></i>
                <ul class="htmlcss-sub-menu sub-menu">
                  <li><a href="#">Shows</a></li>
                  <li><a href="#">Teatro</a></li>
                  <li><a href="#">Esporte</a></li>
                  <li><a href="#">Cursos</a></li>
                </ul>
              </li>
              <li>
                <a href="#" rel="next">Lugares</a>
                <i class="bx bxs-chevron-down arrow js-arrow"></i>
                <ul class="js-sub-menu sub-menu">
                  <li><a href="#">São Paulo</a></li>
                  <li><a href="#">Brasilia </a></li>
                  <li><a href="#">Rio de Janeiro</a></li>
                  <li><a href="#">Fortaleza</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="nav-canto">
            <div class="nav-button">
              <a href="#" class="btt-entrar btt"><p>Entrar</p> </a>
              <a href="#" class="btt-login btt">
                <svg
                  class="icon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 14 14"
                  data-v-fafe0f56=""
                >
                  <g transform="translate(0)" data-v-fafe0f56="">
                    <path
                      class="a"
                      d="M3.6,12.906H1.66a.556.556,0,0,1-.437-.208.571.571,0,0,1-.116-.479A6.042,6.042,0,0,1,6.861,7.435l.139,0,.141,0a5.99,5.99,0,0,1,1.975.381A.547.547,0,1,0,9.5,6.791q-.136-.051-.273-.1a3.719,3.719,0,1,0-4.452,0A7.112,7.112,0,0,0,.036,12,1.661,1.661,0,0,0,1.66,14H3.6a.547.547,0,0,0,0-1.094Zm.779-9.188A2.625,2.625,0,1,1,7.128,6.341H6.872A2.628,2.628,0,0,1,4.375,3.719Z"
                      transform="translate(0)"
                      data-v-fafe0f56=""
                    ></path>
                    <path
                      class="a"
                      d="M155.589,313.864a1.473,1.473,0,0,0-1.345-.864h-1.709a1.448,1.448,0,0,0-1.368.924c-.029.075-.064.169-.1.279h-3.581a.547.547,0,0,0-.392.166l-.939.968a.547.547,0,0,0,0,.764l.957.974a.547.547,0,0,0,.39.164h1.777a.547.547,0,0,0,0-1.094h-1.548l-.422-.429.406-.418h3.76a.547.547,0,0,0,.531-.417,4.516,4.516,0,0,1,.18-.563.358.358,0,0,1,.348-.223h1.707a.373.373,0,0,1,.347.217,3.532,3.532,0,0,1,.323,1.394,3.636,3.636,0,0,1-.321,1.419.373.373,0,0,1-.343.224h-1.727a.389.389,0,0,1-.353-.242,3.636,3.636,0,0,1-.169-.541.547.547,0,1,0-1.064.255,4.7,4.7,0,0,0,.222.7,1.475,1.475,0,0,0,1.362.919h1.73a1.466,1.466,0,0,0,1.345-.88,4.734,4.734,0,0,0,.412-1.859A4.63,4.63,0,0,0,155.589,313.864Z"
                      transform="translate(-142.007 -304.441)"
                      data-v-fafe0f56=""
                    ></path>
                    <circle
                      class="a"
                      cx="0.547"
                      cy="0.547"
                      r="0.547"
                      transform="translate(11.238 10.719)"
                    ></circle>
                  </g>
                </svg>
                Login
              </a>
            </div>
          </div>
        </div>
      </nav>

      <div class="cartaz">
        <div class="cartas-img">
          <img
            src="https://eventos.com.br/background_cards/90a66115ddc91533b2d11e086c8b8482.jpg"
            alt=""
          />
        </div>
      </div>
      <br />
      <div class="conteudo">
        <div class="conteudo-evento">
          <h1>CCXP23</h1>
          <span
            >Imagina embarcar para o maior festival de cultura pop do planeta,
            junto da sua Guild? Com CCXP Caravana você viaja de ônibus
            executivo, moderno e confortável, evitando tumultos, filas e
            desembarcando dentro do evento. Não importa se você saiu de Pedra
            Noturna, Essos, Dorne ou Winterfell.</span
          >
        </div>
        <div class="date">
          <div class="d d-one"><span>Qui.</span><strong>30</strong></div>
          <div class="prefix">à</div>
          <div class="d d-two"><span>Dom. </span><strong>03</strong></div>
          <div class="moth">Nov / Dez</div>
        </div>
      </div>
      <div class="conteiner">
        <h2>Que tal uma palinha pelas atrações do evento?</h2>
        <div class="shows">
          <div class="box-shows">
            <div class="desc-show"><span>Lagum - Sei La</span></div>
            <div class="img-cantor">
              <img
                src="https://culturadoria.com.br/wp-content/uploads/2018/06/Lagum_mar18_5772.jpg"
                alt="foto da banda Lagum"
              />
            </div>

            <audio controls>
              <source src="./docs/lagum.mp3" type="audio/mpeg" />
            </audio>
          </div>
          <div class="box-shows">
            <div class="desc-show"><span>Alok - Meduza</span></div>
            <div class="img-cantor">
              <img
                src="https://istoedinheiro.com.br/wp-content/uploads/sites/17/2022/03/42-2.jpg"
                alt="foto do Dj Alok"
              />
            </div>
            <audio controls>
              <source src="./docs/alok.mp3" type="audio/mpeg" />
            </audio>
          </div>
          <div class="box-shows">
            <div class="desc-show"><span>Gloria Groove - Queda</span></div>
            <div class="img-cantor">
              <img
                src="https://observatoriog.bol.uol.com.br/wordpress/wp-content/uploads/2022/12/Gloria-Groove-1024x508.jpg"
                alt="foto da Gloria Grooove"
              />
            </div>
            <audio controls>
              <source src="./docs/gloria.mp3" type="audio/mpeg" />
            </audio>
          </div>
        </div>
      </div>
      <!--  -->

      <div class="box">
        <div class="box-tipos">
          <div class="titulo">
            <h1>Inscrições</h1>
          </div>
          <div class="categoria">
            <div class="desc">
              <div class="desc-text">
                <h2>Normal</h2>
                <small class="text-muted">Até 450 ingressos</small>
              </div>
              <div class="info">
                <span class="preco">R$1.000,00</span>
                <div class="validade">até 30/09/2023</div>
              </div>
            </div>
            <div class="group">
              <div class="input-group">
                <span class="input-group-btn">
                  <button
                    class="btn btn-default plus-minus minus btn-minus-plus-site-basico"
                    type="button"
                    ng-click="alterarQuantidadeEntrada(item, false)"
                    ng-disabled="permiteAlterarQuantidadeEntrada(item, false)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                    >
                      <path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path>
                    </svg>
                  </button>
                </span>
                <input
                  type="text"
                  class="imput"
                  placeholder="0"
                  ng-model="item.quantidade"
                  name="363003"
                  readonly=""
                  style="background-color: white"
                />
                <span class="input-group-btn">
                  <button
                    class="btn btn-default plus-minus plus btn-minus-plus-site-basico"
                    type="button"
                    ng-click="alterarQuantidadeEntrada(item, true)"
                    uib-popover=""
                    ng-class="item.msgQuantidadeEntrada ? 'disabled': ''"
                    popover-placement="top-right"
                    popover-trigger="'mouseenter'"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                    >
                      <path d="M5 11h14v2H5z"></path>
                    </svg>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="categoria">
            <div class="desc">
              <div class="desc-text">
                <h2>Estudante</h2>
                <small class="text-muted"
                  >Necessário anexar comprovante de matrícula</small
                >
              </div>
              <div class="info">
                <span class="preco">R$500,00</span>
                <div class="validade">até 30/09/2023</div>
              </div>
            </div>
            <div class="group">
              <div class="input-group">
                <span class="input-group-btn">
                  <button
                    class="btn btn-default plus-minus minus btn-minus-plus-site-basico"
                    type="button"
                    ng-click="alterarQuantidadeEntrada(item, false)"
                    ng-disabled="permiteAlterarQuantidadeEntrada(item, false)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                    >
                      <path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path>
                    </svg>
                  </button>
                </span>
                <input
                  type="text"
                  class="imput"
                  placeholder="0"
                  ng-model="item.quantidade"
                  name="363003"
                  readonly=""
                  style="color: #555"
                />
                <span class="input-group-btn">
                  <button
                    class="btn btn-default plus-minus plus btn-minus-plus-site-basico"
                    type="button"
                    ng-click="alterarQuantidadeEntrada(item, true)"
                    uib-popover=""
                    ng-class="item.msgQuantidadeEntrada ? 'disabled': ''"
                    popover-placement="top-right"
                    popover-trigger="'mouseenter'"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                    >
                      <path d="M5 11h14v2H5z"></path>
                    </svg>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="categoria">
            <div class="desc">
              <div class="desc-text">
                <h2>Pessoa com deficiência</h2>
                <small class="text-muted"></small>
              </div>
              <div class="info">
                <span class="preco">R$500,00</span>
                <div class="validade">até 30/09/2023</div>
              </div>
            </div>
            <div class="group">
              <div class="input-group">
                <span class="input-group-btn">
                  <button
                    class="btn btn-default plus-minus minus btn-minus-plus-site-basico"
                    type="button"
                    ng-click="alterarQuantidadeEntrada(item, false)"
                    ng-disabled="permiteAlterarQuantidadeEntrada(item, false)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                    >
                      <path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path>
                    </svg>
                  </button>
                </span>
                <input
                  type="text"
                  class="imput"
                  placeholder="0"
                  ng-model="item.quantidade"
                  name="363003"
                  readonly=""
                  style="background-color: white"
                />
                <span class="input-group-btn">
                  <button
                    class="btn btn-default plus-minus plus btn-minus-plus-site-basico"
                    type="button"
                    ng-click="alterarQuantidadeEntrada(item, true)"
                    uib-popover=""
                    ng-class="item.msgQuantidadeEntrada ? 'disabled': ''"
                    popover-placement="top-right"
                    popover-trigger="'mouseenter'"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                    >
                      <path d="M5 11h14v2H5z"></path>
                    </svg>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="text-center acoes">
            <button
              id="btn-inscricao-sitebasico"
              class="bt-comprar"
              type="button"
              ng-if="exibirBotalInscricao(areaSiteEvento.jsonObj)"
              ng-disabled="!inseriuQuantidadeEntrada(areaSiteEvento.jsonObj) || carregandoGerarCheckout"
              data-loading-text="Aguarde"
              btn-loading="false"
              ng-click="gerarCheckout(areaSiteEvento.jsonObj)"
              disabled="disabled"
            >
              <span>Realizar inscrição</span>
              <span class="ng-hide">&nbsp;● &nbsp;R$0,00 </span>
            </button>
          </div>
        </div>

        <div class="box-mapa">
          <div class="mapa">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3657.3032538228003!2d-46.67052102466991!3d-23.557549678802392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjPCsDMzJzI3LjIiUyA0NsKwNDAnMDQuNiJX!5e0!3m2!1spt-BR!2sbr!4v1695496821138!5m2!1spt-BR!2sbr"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
      <!--  -->
      <br />
    </div>
    <footer>
      <div id="footer">
        <div class="footer-logo">
          <img src="./img/Blue.png" alt="Logo" />
        </div>
        <div class="footer-link">
          <div class="footer-lista">
            <ul>
              <li><b>Atendimento</b></li>
              <li>
                <a href="#" target="_blank" rel="author"
                  >Política de Vendas, Trocas e Privacidade</a
                >
              </li>
              <li>
                <a href="#" target="_blank" rel="author"
                  >Termos e condições de compra</a
                >
              </li>
              <li>
                <a href="#" target="_blank" rel="author">Fale conosco</a>
              </li>
            </ul>
            <ul>
              <li><b>Institucional</b></li>
              <li>
                <a href="#" target="_blank" rel="author">Sobre a livraria</a>
              </li>
              <li>
                <a href="#" target="_blank" rel="author">Livraria Plus</a>
              </li>
              <li>
                <a href="#" target="_blank" rel="author"
                  >Relações com Investidores</a
                >
              </li>
            </ul>
          </div>
          <div class="footer-blocos">
            <div class="footer-app">
              <b>Download App</b>
              <ul class="footer-baixar">
                <li>
                  <a href="#"
                    ><img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Download_on_the_App_Store_Badge.svg/1200px-Download_on_the_App_Store_Badge.svg.png"
                      alt="app store"
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img
                      src="https://swanlibraries.net/wp-content/uploads/2019/03/google-play_modified-1024x301.png"
                      alt="google play"
                  /></a>
                </li>
              </ul>
            </div>
            <div class="footer-cards">
              <b>Formas de Pagamento</b>
              <ul class="grid-cards">
                <li>
                  <a href="#"
                    ><img
                      src="https://images.prismic.io/pix-site/233281d3-2286-49be-8d9b-8f4183c20030_logo-pix_250x250.png?auto=compress,format&rect=0,57,250,135&w=1200&h=650"
                      alt="cartão pix"
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img
                      src="https://w7.pngwing.com/pngs/314/877/png-transparent-visa-logo-credit-card-debit-card-mastercard-logo-visa-go-blue-text-trademark.png"
                      alt="cartão visa"
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/MasterCard_Logo.svg/800px-MasterCard_Logo.svg.png"
                      alt="cartão mastercard"
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img
                      src="https://logodownload.org/wp-content/uploads/2017/04/elo-logo-10-1.png"
                      alt="cartão elo"
                  /></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="fotter-fotter">
          <div class="efBApl">
            <div class="jHTgmc">
              <h5>
                <a target="_blank" href="#" rel="noopener noreferrer">Home</a>
              </h5>
              <h5>
                <a target="_blank" href="#" rel="noopener noreferrer">Sobre</a>
              </h5>
              <h5>
                <a target="_blank" href="#" rel="noopener noreferrer">Blog</a>
              </h5>
              <h5>
                <a target="_blank" href="#" rel="noopener noreferrer"
                  >Carreiras</a
                >
              </h5>
              <h5>
                <a target="_blank" href="#" rel="noopener noreferrer"
                  >Termos e Políticas</a
                >
              </h5>
              <h5>
                <a target="_blank" href="#" rel="noopener noreferrer"
                  >Ética e conduta</a
                >
              </h5>
            </div>
            <ul class="kqrytd">
              <li>
                <a
                  target="_blank"
                  href="http://www.facebook.com"
                  rel="noopener noreferrer"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M12 2.5c-5.225 0-9.5 4.306-9.5 9.568 0 4.785 3.46 8.749 8.007 9.432v-6.698H8.132v-2.734h2.443V9.95c0-2.392 1.425-3.691 3.596-3.691 1.018 0 2.104.205 2.104.205v2.324h-1.221c-1.154 0-1.561.752-1.561 1.503v1.777h2.646l-.407 2.734h-2.24V21.5c4.547-.683 8.008-4.647 8.008-9.432C21.5 6.806 17.225 2.5 12 2.5z"
                    ></path>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://twitter.com"
                  rel="noopener noreferrer"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="#191F28"
                      fill-rule="nonzero"
                      d="M21 6.846c-.525.77-1.125 1.462-1.875 1.923v.462c0 5-3.75 10.769-10.5 10.769-2.1 0-4.05-.615-5.625-1.692.3 0 .6.077.9.077 1.725 0 3.3-.616 4.575-1.616-1.65 0-3-1.154-3.45-2.615.225.077.45.077.675.077.3 0 .675-.077.975-.154-1.725-.308-3-1.846-3-3.692v-.077a3.15 3.15 0 0 0 1.65.461c-.9-.692-1.575-1.846-1.575-3.154 0-.692.15-1.384.525-1.923a10.305 10.305 0 0 0 7.575 3.923c-.075-.307-.075-.538-.075-.846C11.775 6.692 13.425 5 15.45 5c1.05 0 2.025.462 2.7 1.23.825-.153 1.65-.46 2.325-.922-.3.846-.825 1.615-1.65 2.077.825-.077 1.5-.231 2.175-.539z"
                    ></path>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.instagram.com"
                  rel="noopener noreferrer"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                  >
                    <path
                      fill="#191F28"
                      fill-rule="evenodd"
                      d="M19.921 7a5.004 5.004 0 0 1 5.004 5.004v7.992A5.004 5.004 0 0 1 19.921 25h-7.917C9.241 24.925 7 22.685 7 19.921v-7.917A5.004 5.004 0 0 1 12.004 7h7.917zm1.046 2.988c0 .522.448.97.97.97a.989.989 0 0 0 .972-.97.989.989 0 0 0-.971-.971.989.989 0 0 0-.971.97zm-10.008 5.975a5.004 5.004 0 1 0 10.008 0 5.004 5.004 0 0 0-10.008 0zm7.991 0a2.996 2.996 0 0 1-2.987 2.987 2.996 2.996 0 0 1-2.988-2.987 2.996 2.996 0 0 1 2.988-2.988 2.996 2.996 0 0 1 2.987 2.988z"
                    ></path>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.linkedin.com"
                  rel="noopener noreferrer"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="#191F28"
                      fill-rule="evenodd"
                      d="M15.975 3A5.025 5.025 0 0 1 21 8.025v8.025a5.025 5.025 0 0 1-5.025 5.025h-7.95C5.25 21 3 18.75 3 15.975v-7.95A5.025 5.025 0 0 1 8.025 3h7.95zm-2.531 7.294h-2.232v6.103h2.232V13.05l.007-.165c.076-.834.726-.95.912-.95.196 0 .787.196.787 1.115v3.347h2.1V13.05l-.004-.223c-.065-1.747-.891-2.533-1.9-2.533-1.05 0-1.64.328-1.902.853v-.853zm-4.069-.066H7.144v6.103h2.231v-6.103zm-1.05-3.216c-.787 0-1.247.46-1.247 1.05 0 .591.46 1.05 1.181 1.05.722 0 1.182-.459 1.182-1.05 0-.59-.46-1.05-1.116-1.05z"
                    ></path>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <span class="footer-cep"
            >Todos os direitos reservados © Copyright 2023
          </span>
        </div>
      </div>
    </footer>
    <script src="./js/script.js"></script>
  </body>
</html>
